#movieoverview {
  width: 100%;
  display: flex;
  margin-top: 15px;
}

#poster {
  float:left;
  flex-grow: 1;
}

#movietitle {
  text-align: left;
  text-decoration: underline;
  font-weight: bolder;
  width: 100%;
  padding-bottom: 5px;
}

#content {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

#overview {
  float: left;
  font-size: 12px;
}

#shows {
  display: flex;
  font-size: 12px;
  margin-top: 10px;
}

#show {
  float: right;
  padding: 5px;
  border: 1px solid black;
  margin-right: 5px;
}
